@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: normal;
    background-color: bisque;
    font-optical-sizing: auto;
    font-family: 'poppins', sans-serif;
}
.container {
    width: 1200px;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
.logo {
    text-transform: uppercase;
}
nav ul {
    gap: 30px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}
nav li a{
    text-decoration: none;
    gap: 20px;
}

main, header,
footer {
    padding: 2rem;
    margin: 1rem;
}

/* all section */
section {
    height: 45vh;
}
section:first-child{
    background-color: #eeb36a;
}
section:nth-child(2){
    background-color: #efcda3;
}
section:nth-child(3){
    background-color: antiquewhite;
}
section:last-child {
    background-color: #eeb36a;
}

/* section 1 */
#about {
    padding: 40px;
}

/*  */
#projects {
    padding: 40px;
}

p {
    line-height: 1.5;
}



/* mobile form */
@media (max-width: 768px){
    body {
        background-color: green;
    }
}
@media (max-width: 468px){
    body {
        background-color: rgb(6, 0, 128);
    }
}