body {
    background-color: #f1ecec;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
}
h1 {
    color: rgb(123, 4, 69);
    font-size: 18px;
}
p {
    color: #9c561d;
    font-size: 14px;
}
.myclass {
    color: #1e1e1e;
    background-color: aqua;
    font-size: 12px;
}
#myid {
    color: #1e1e1e;
    background-color: rgb(109, 164, 104);
    font-size: 12px;
}