* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #f6189d;
}

header, footer {
  background-color: #243f5b;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  padding: 10px;
  margin: 20px;
}

div {
  background-color: #ff6f61;
  padding: 20px;
  margin: 30px;
}

article {
  background-color: #65adec;
  padding: 20px;
  margin: 30px;
}

.images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
main {
  padding: 20px;
  margin: 30px;
  background-color: aliceblue;
}

main div {
  padding: 20px;
  margin: 30px;
  background-color: aliceblue;
  font-size: 18px;
}

.pics {
  border-radius: 50%;
}

section {
  background-color: #ffd700;
  justify-content: space-between;
  padding: 20px;
}

h2, h3 {
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.last-button {
  background-color: #fff;
  border: 2px solid red;
  padding: 20px;
}
.last-button a {
  margin-right: 30px;
}
.last-div {
  background-color: #fff;
}

footer {
  text-align: center;
  padding: 20px;
}
